$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Make the masthead heading the same height as the navigation */
/*.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}*/

/* Custom page footer */
/*.footer {
    color: #777;
    border-top: 1px solid #e5e5e5;
}*/

.allCourses {
  margin-bottom: 10px;
}

tr.spaceUnder > td {
  padding-bottom: 10px;
}

.requirementGroup {
  vertical-align: top;
}

.notFirstGroup {
  margin-left: 20px;
}

/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

// http://stackoverflow.com/questions/16369718/enable-two-scroll-bars-with-bootstrap

html, body {
  height: 100%;
  width: 100%;
}

.nav-container {
  margin-top: 5px;
}

.nav-container li {
  margin-right: 15px;
}

.logo {
  color: white;
  padding-top: 10px;
  padding-left: 35px;
}

#search-bar {
  top: 0px;
  margin-top: -38px;
  margin-left: 40%;
  width: 30%;
  //margin-right: 500px;
}


#header {
  height: 50px;
  background-color: #432F21;
  //background: -moz-linear-gradient(top, rgba(130,130,130,1) 80%, rgba(130,130,130,1) 100%); /* FF3.6+ */
  //background: linear-gradient(to bottom, rgba(130,130,130,1) 50%,rgba(130,130,130,.5) 100%); /* W3C */
  margin-top: -20px;
  top: 0;
}

.spacer {
  height: 10px;
}

#footer {
  height: 25px;
  background-color: red;
}

#sidebar {
  padding-right: 0px;
}

.content-row {
  height: 100%;
}

.header-row, .content-row, .footer-row {
  margin-left: 0;
  margin-right: 0;
}

.column:before, .column:after {
  content: "";
  display: table;
}

.column:after {
  clear: both;
}

.column {
  height: 100%;
  overflow: auto;
}

.box {
  bottom: 60px; /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/*.full {
  width: 100%;
}*/


// END INDEPENDENT SCROLLING

.accordion-group-container {
  text-align: center;
}

.requirement-group-heading {
  text-align: center;
}

.individual-requirement {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d2bcab;
}

.individual-requirement-placeholder {
  text-align: center;
  color: #e8e8e8;
}

.individual-requirement-btn {
}

.class-button {
}

.spaceBottom {
  margin-bottom: 7px;
}

.reqContainer {
  background-color: #d2d2d2;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /*.container {
        max-width: 830px;
    }*/



}
